@media (max-width: 1000px) {
    .contactme {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .block-name {
            font-size: 30pt;
            text-align: center !important;
        }

        .form {
            .form-row {
                flex-direction: column !important;
                width: 100% !important;

                .input-name, .input-email {
                    margin: 16px !important;
                }
            }

            .input-message {
                margin-top: 16px !important;
                width: 100% !important;
            }

            .input-submit {
                justify-content: center !important;
                align-items: space-between;
                width: 100% !important;
                flex-direction: column !important;
                margin: 16px 0 !important;

                .button {
                    position: relative !important;
                    margin-bottom: 32px !important;
                }

                .status-message {
                    font-size: 1rem;
                    width: 100% !important;
                    display: block;
                    margin-bottom: 16px !important;
                }
            }
        }
    }
    
    .whatsapp-container {
        bottom: 8px !important;
        left: 50% !important;
        transform: translate(-50%, 0);
    }
    
}

@media(max-width: 1600px) {
    #status-message {
        width: 80%;
    }
}
@media(max-width: 750px) {
    #status-message {
        width: 60%;
        font-size: .8rem;
    }

}