// #3498db
// rgb(107, 15, 15);
// #101113

$primary-color: #252627;
$secondary-color: #ddff1f;
$third-color: #ddd;
$fourth-color: #3d3d3d;

$description-color: #ffffffb3;
$tap-color: #2c2c2c;


$back-icon-color: #dddddd4d;

// Skills-Colors
$html-color: #e34f26;
$css-color: #0091cd;
$sass-color: #da1884;
$js-color: #f7df1e;
$ts-color: #037ef3;
$reactjs-color: #7d3f98;
$react-native-color: #00d8ff;
$nodejs-color: #6cc24a;
$mysql-color:#f29111;
$mongodb-color: #589636;
$black-color: #0b0b0c;